aiohttp==1.2.0
anyjson==0.3.3
arrow==0.10.0
asn1crypto==0.22.0
async-timeout==1.1.0
attrs==17.2.0
Automat==0.6.0
beautifulsoup4==4.6.0
cffi==1.10.0
chardet==2.3.0
constantly==15.1.0
cryptography==2.0
cssselect==1.0.1
demjson==2.2.4
Django==1.10.5
easyquotation==0.5.1
easytrader==0.10.6
easyutils==0.1.2
future==0.16.0
hyperlink==17.3.0
idna==2.5
image==1.5.5
incremental==17.5.0
Logbook==1.0.0
lxml==3.7.2
multidict==2.1.4
numpy==1.12.0
olefile==0.44
pandas==0.19.2
parsel==1.2.0
Pillow==4.0.0
pyasn1==0.2.3
pyasn1-modules==0.0.9
pycparser==2.18
pycrypto==2.6.1
PyDispatcher==2.0.5
pyOpenSSL==17.1.0
pyquery==1.2.17
python-dateutil==2.6.0
pytz==2016.10
queuelib==1.4.2
redis==2.10.5
requests==2.13.0
rqopen-client==0.0.3
Scrapy==1.4.0
service-identity==17.0.0
six==1.10.0
tushare==0.6.8
Twisted==17.5.0
w3lib==1.17.0
xlrd==1.0.0
yarl==0.8.1
zope.interface==4.4.2
